
<div class="container">
    <div class="card">
      <div class="text-center">

        <p>
          <strong>Name:</strong>
          <%= @restaurant.name %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @restaurant.address %>
        </p>

        <p>
          <strong>Phone_number:</strong>
          <%= @restaurant.phone_number %>
        </p>

        <p>
          <strong>Category:</strong>
          <%= @restaurant.category %>
        </p>

      </div>
    </div>
       <%= link_to restaurants_path do %>
      <i class="fas fa-undo">main page</i>
      <% end %>

      <%= link_to edit_restaurant_path do %>
      <i class="far fa-edit">Edit Restaurant</i>
      <% end %>
</div>
